body{
    overflow-x: hidden;
}
.navbar-custom {
    background-color: transparent !important; /* Initial background color */
    transition: background-color 0.3s ease; /* Smooth transition */
}
.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Background color when scrolled */
}
.carousel-caption {
    color: white; /* Text color */
    padding: 20px; /* Padding for text */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70%; /* Adjust the maximum width of the caption */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    background-color: rgba(0, 0, 0, 0); /* Initial background color */
}

.carousel-caption:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay on hover */
}

.navbar-brand img {
    height: 34px;
}

        /* Custom toggle button styles */
        .navbar-toggler {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
            position: absolute;
            right: 10px;
        }

        .navbar-toggler-icon {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #ffffff;
            transition: all 0.3s;
            position: relative;
            border-radius: 3px;
        }

        .navbar-toggler-icon::before,
        .navbar-toggler-icon::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            transition: all 0.3s;
            position: absolute;
            left: 0;
        }

        .navbar-toggler-icon::before {
            top: -10px;
        }

        .navbar-toggler-icon::after {
            bottom: -10px;
        }

        .navbar-toggler.collapsed .navbar-toggler-icon::before {
            transform: translateY(0) rotate(-45deg);
        }

        .navbar-toggler.collapsed .navbar-toggler-icon::after {
            transform: translateY(0) rotate(45deg);
        }

        .navbar-toggler.collapsed .navbar-toggler-icon {
            background-color: transparent;
        }
        .navbar-nav {
            margin: auto;
        }

        .navbar-nav .nav-item {
            margin: 0 10px;
        }

        @media (max-width: 767.98px) {
            .navbar-toggler {
                right: 10px;
            }

            .navbar-nav {
                flex-direction: column;
            }

.navbar-nav .nav-item{
    margin-top: 10px;
}
}

.button-mudrika-light:hover {
    border-radius: 30px; 
    border:1px solid black;
    background-color: white;
    color: black;
    padding-left: 35px; 
    padding-right: 35px;
}
.button-mudrika-light{
    background-color: black;
    color: white;
}
.btn-outline-dark{
    border-radius: 30px;
    padding-left: 35px; 
    padding-right: 35px;
}

       /* Scroll down indicator style */
       .scroll-down-indicator {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        animation: arrow-bounce 2s infinite;
   }

   @keyframes arrow-bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-10px);
        }
        60% {
            transform: translateY(-5px);
        }
    }

#gallery img {
height: 400px; /* Adjust the height as needed */
object-fit: cover; /* This ensures the image covers the specified height */
}
/*Events*/
.course {
    margin-top: 20px;
    margin-bottom: 20px;
}

.course .course-img {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.course .course-img > img {
    width: 100%;
}

.course-img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #b4b4b4;
    opacity: 0;
    transition: 0.2s opacity;
}

.course .course-img:hover:after {
    opacity: 0.7;
}


.course .course-title {
    display: block;
    height: 42px;
    text-decoration: none;
    color: black;
}

.course .course-details {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #EBEBEB;
}

.course .course-details .course-price {
    float: right;
}

.course .course-details .course-price.course-free {
    color: green;
}

.course .course-details .course-price.course-premium {
    color: #b4b4b4;
}



/*------------------------------------*\
	Blog Page
\*------------------------------------*/
/* -- Single Blog -- */
.single-blog {
	margin-bottom:40px;
}

.single-blog .blog-img > a {
	position:relative;
	display:block;
	border-radius:4px;
	overflow:hidden;
}

.single-blog .blog-img img {
	width:100%;
}

.single-blog .blog-img > a:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#798696;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.single-blog .blog-img > a:hover:after {
	opacity:0.7;
}

.single-blog .blog-meta {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #EBEBEB;
}

.single-blog .blog-meta .blog-meta-author > a {
	color: #798696;
}

.single-blog .blog-meta .blog-meta-comments {
	margin-left:10px;
}

.single-blog .blog-meta .blog-meta-comments > a {
	color: #798696;
}

/*-- Sidebar Posts --*/
.single-post:after {
	content:"";
	display:block;
	clear:both;
}

.single-post + .single-post {
	margin-top:20px;
}

.single-post .single-post-img {
	position:relative;
	width: 80px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	border-radius: 4px;
	overflow: hidden;
}

.single-post .single-post-img img {
	width:100%;
}

.single-post-img:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#798696;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.single-post-img:hover:after {
	opacity:0.7;
}

/*-- Tags --*/
.tags-widget .tag {
	display: inline-block;
	font-size: 14px;
	margin-right: 0px;
	margin-top: 5px;
	padding: 5px 15px;
	border-radius: 40px;
	border: 1px solid #EBEBEB;
	color: #798696;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.tags-widget .tag:hover {
	background-color:#798696;
	border-color:#798696;
	color:#FFF;
}

/*------------------------------------*\
	Single Post Page
\*------------------------------------*/
/* --- Blog Post Meta --- */
.blog-post-meta {
	margin-top:40px;
}

.blog-post-meta li {
	display:inline-block;
}

.blog-post-meta li + li {
	margin-left:15px;
}

.blog-post-meta li , .blog-post-meta li > a {
	color: rgba(255, 255, 255, 0.8);
}

.blog-post-meta .blog-meta-author > a {
	color: #798696;
}
.blog a{
    text-decoration: none;
}
  /* Change link colors to dark */
  .single-blog h4 a,
  .widget a,
  .widget p {
    color: #585858; /* Dark color */
  }

  /* Decrease font size for links and paragraphs */
  .single-blog h4 a,
  .widget a,
  .widget p {
    font-size: 16px; /* Adjust the size as needed */
  }
body a{
    text-decoration: none;
}